h3 {
    font-size: 20px;
    padding: 20px;
    margin: 0px;
}

#history {
    overflow: auto
}

#inputArea {
    min-height: 55px
}

#historyAndInput {
    padding: 10px 0px 20px 20px;
    box-sizing: border-box;
}

#messageInput {
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 5px;
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
}

.mainBackground {
    background-color: white;
}

#inputbox {
    margin-top: 1em;
    padding: 0.5em;
    border: 2px solid rgba(0, 0, 0, 0.12);
    border-radius: 0.25em;
    cursor: text;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    line-height: 1.2em;
}
.input-group-addon{
    margin-top: 1em;
    padding: 0.5em 1em;
    border: 2px solid rgba(0, 0, 0, 0.12);
    border-radius: 0.25em;
    cursor: pointer;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.highlight {
    font-weight: bold;
}

#comingMessageToast {
    right: 55px;
    left: auto;
}

.offline {
    color: grey;
}
#imPanel  {
    background-color: white;
}
.narrowShow {
    display: none;
}

#imChannels {
    height: 100%;
}

#menuButton {
    padding : 0px;
    margin : 0px;
    margin-left : 5px;
}